.list-group-item:hover {
  cursor: pointer;
  background-color: #78C1F3;
  
} 

.expenses_input:hover {
    cursor: pointer;
    background-color: #eeeeee;
}   

.budget-button , .remaining-button , .total-button{
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.413);
    border-color: rgba(0, 0, 0, 0.413);
}
#expense-select{
    border-radius:5px ;
    padding: 0;
    margin-left: -600px;
    margin-top: 80px;
    width: 500px;
    height:40px; 
    border:solid black;
}

.heading{
    color: #F5EE11;
  text-shadow: none;
}